body{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.layout{
    background-color: white;
    border-radius: 5px;
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.form-body{
    text-align: center;
    padding: 20px 10px;
    width: 400px;
    margin: 0 auto;
}

.form-body-left{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
}

.form-body > *{
    padding: 5px;
}

.footer{
    text-align: center;
}